h1{
    text-align: center;
    color: #3f538f;
}

/*start slider*/
#philadelphia{
    height: 800px;
    background-color: #EBEBEB;
}

.slide-wrapper{
    width: 70%;
    height: 70vh;
    /*border: 1px solid green;*/
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.slider{
    margin: 0 10px 0 0; /*margin-right: 10px;*/
    height: 100%;
    width: 10%;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out 400ms;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider.active{
    width: 50%;
    border-radius: 50%;
    animation: move-down 1.5s ease-in infinite alternate-reverse;
}

@keyframes move-down{
    from{
        transform: translateY(-15px);    
    }
    to{
        transform: translateY(0);
    }
}
